/SP/SP3/PersistenceWithJPA_SP3/target/
/Week5_Javascript/JavascriptArrayDay1/nbproject/private/
/Week6_REST/RestWithJAXRS_Day1/target/
/Week6_REST/Rest_JAXRS_Client_AJAX_Day2/target/
/Week6_REST/exceptionDemo/target/
/Week6_REST/Rest_JAXRS_Client_AJAX_Day2/nbproject/